@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --Green-400: hsl(180, 29%, 50%);

  --Green-50: hsl(180, 52%, 96%);
  --Gray-400: hsl(180, 8%, 52%);
  --Green-900: hsl(180, 14%, 20%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  background-color: var(--Green-50);
}
